<ion-view view-title="Conversation">
    <ion-nav-title>
        {{chatController.chatUserName}}
    </ion-nav-title>

    <!--
     <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons> 
-->

    <!--
    <ion-nav-buttons side="right">
        <a class="button button-clear ion-ios-plus" href="#/app/create-contact"></a>
    </ion-nav-buttons>
-->

    <ion-content class="has-header direct-chat">
        <!--
        <ion-list>
            <ion-item ng-repeat="user in userListController.users" href="#/app/{{user.Id}}/chat">
                {{user.Name}}
                <p>{{user.UserRole.Name}}</p>
            </ion-item>
        </ion-list>
-->

        <!--
        <div ng-repeat="chat in chatController.chats">
            {{chat.email}} - {{chat.body}}
        </div>
-->

        <div ng-repeat="chat in chatController.chats" ng-class="{other: chat.userId == chatController.myId}" class="messages">

            <div class="message">
                <img class='chat-image other chat-image-default' ng-if="chat.userId != chatController.myId" src='https://lh3.googleusercontent.com/-553dkjYDnhs/AAAAAAAAAAI/AAAAAAAAAB4/Ts9dxqVAhYA/s120-c/photo.jpg' />
                <img class='chat-image chat-image-default' ng-if="chat.userId == chatController.myId" src='https://lh3.googleusercontent.com/-sGhYlzsAcPY/VDhVBt0-F_I/AAAAAAAAACA/iuUW2PcXqbU/s264-no/10554144_296305277214505_836031705_a.jpg' />
                <span>{{chat.body}}</span>
            </div>

            <!--            <div class="time" ng-class="{'slide-right': chatController.hideTime, '': !chatController.hideTime}">{{chat.timestamp | date:'short'}}</div>-->

        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset message-footer">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" ng-model="chatController.currentChat" />
        </label>
        <div class="footer-btn-wrap">
            <button class="button button-clear" type="button" ng-click="chatController.sendMessage()" ng-disabled="!chatController.currentChat || chatController.currentChat === ''">
                Send
            </button>
        </div>
    </ion-footer-bar>

</ion-view>